.Terminal_toolbar {
    background: linear-gradient(#504b45 0%,#3c3b37 100%);
    width:100%;
    padding: 0 8px;
    box-sizing: border-box;
    height: 25px;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.Toolbar_user {
    color: #d5d0ce;
    margin-left: 4px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 1px;
}

.Toolbar_buttons {
    display:flex;
    align-items: center;
}

.Toolbar_button {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    font-size: 7px;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 0px 1px 0px #41403A,0px 1px 1px 0px #474642;
    border: none;
    margin-right: 4px;
}

.Toolbar_button:hover{
    cursor: pointer;
}

.Toolbar_button--exit {
    background: #f25d2b;
    background: linear-gradient(#f37458 0%, #de4c12 100%);
    background-clip: padding-box;
}

.Toolbar_option:focus {
    outline: none;
}

.Terminal_body {
    background: rgba(56, 4, 40, .9);
    height: calc(100% - 25px);
    margin-top: -1px;
    padding-top: 2px;
    font-family: 'Ubuntu mono';
  }

.Terminal_text {
    color: #ddd;
}

.Terminal_Prompt {
    margin-top: 10px;
    display: flex;
}

.Prompt_user {
    color: #87d441;
}

.Prompt_location {
    color: #6d85a9;
  }

.Prompt_dollar {
    color: #ddd;
}

.Prompt_cursor {
    height: 17px;
    width: 8px;
    background: white;
    display: block;
    margin-left: 8px;
    animation: 2000ms ease infinite alternate blink;
}
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .Textarea_input {
      background: transparent;
      border: none;
      resize:none;
  }